@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/roboto');

$Lato: 'Lato', sans-serif;
$Roboto: 'Roboto', sans-serif;

html {
    font-family: $Lato;
    font-size: 16px;
    line-height: 16px;
}

:root {
    --lato: $Lato;
    --roboto: $Roboto;
}

h1 {
    font-size: 44px;
    line-height: 62px;
}